.article {
    margin-bottom: 0rem;
    padding: 0rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.bgImg {
    background: url('../Kendrick-Lamar-GNX.webp') no-repeat center;
    background-size: cover;
    height: 300px;
    border-radius: 5px 5px 0 0;
    padding: 1rem;
    padding-top: 2rem;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    font-size: 2rem;
}

.bgLayer {
    background-color: rgba(0, 0, 0, 0.863);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    height: 300px;
    border-radius: 5px 5px 0 0;
    z-index: 1;
}