.article {
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.bgImg {
    background: url('../Kendrick-Lamar-GNX.webp') no-repeat center;
    background-size: cover;
    height: 300px;
    border-radius: 5px 5px 0 0;
    padding: 1rem;
}