.carousel-tray {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    padding: 1rem .5rem;
    padding-top: 4rem;
    scroll-behavior: smooth;
    background: #070a10;
  }
  
  .carousel-item {
    display: inline-block;
    text-align: center;
    margin: 0 0.5rem;
  }

  .container {
    padding-left: .8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    background: #070a10;
    height: 100%;
    overflow-y: none; 
  }
  
  .column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0.5rem;
  }
  
  .album-name {
    font-size: 0.75rem;
    color: #fff;
  }
  
  .album-year {
    font-size: 0.65rem;
    color: #aaa;
  }

  .heading {
    grid-column: span 2;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #ffffffb7;
    padding-top: 1rem;
    background: #070a10;
  }